body {
	margin: 0;
	overflow-x: hidden;
	box-sizing: content-box;
}

*, *::after, *::before, *:focus {
    box-sizing: border-box;
    user-select: none;
    outline: none;
}

.wrapper {
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

/* Header */

header {
	width: 100%;
	background: black;
	padding: 30px 0;
	display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper_head {
	justify-content: space-between;
	padding: 0 15px;
	width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.wrapp {
	width: 100%;
	height: inherit;
	max-width: 1100px;
}

.nav_and_logo {
	position: fixed;
	z-index: 1000;
	background: black;
	top: 0;
	left: 0;
	width: 100%;
	padding: 15px 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.R {
	color: #fff;
	font-family: "Monserrat", sans-serif;
	text-transform: uppercase;
	font-size: 35px;
}

.slide_and_text {
	width: 100%;
    padding: 15px;
    margin-top: 50px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.outher_text {
	color: #fff;
	width: 400px;
	font-family: "Monserrat", sans-serif;
}

.outher_text.H {
	font-size: 30px;
}

.outher_text.LO {
	font-size: 15px;
}

.slider {
	width: 500px;
	height: 200px;
	position: relative;
	overflow: hidden;
}

.picture {
	width: 2000px;
	display: flex;
	flex-direction: row;
	transition: .35s linear;
	position: absolute;
	left: 0px;
}
.a {
	width: 500px;
	height: 200px;
	background: url(img/pictures/photo1.jpg);
	background-size: cover;
}

.a.second {
	background: url(img/pictures/photo2.jpg);
	background-size: cover;
}

.a.three {
	background: url(img/pictures/photo3.jpg);
	background-size: cover;
}

.a.four {
	background: url(img/pictures/photo4.jpg);
	background-size: cover;
}

.society {
	display: flex;
	flex-direction: row;
}

.icons {
	margin-left: 10px;
	margin-right: 10px;
	text-decoration: none;
	display: flex;
    justify-content: center;
	flex-direction: column;
	align-items: center;
	position: relative;
}

.icon {
	width: 35px;
}

/* Main block */

.main_block {
	width: 100%;
    padding: 15px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.row {
	width: 350px;
}

.veteran {
	position: relative;
	width: 100%;
	height: 100%;
	margin: 25px 0;
	overflow: hidden;
	backface-visibility: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
}

.veteran:hover .image {
	filter: blur(2px);
	transform: scale(1.1);
}

.image {
	width: 99%;
	height: 99%;
	transition: .5s;
	overflow: hidden;
}


.text_block {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: 0;
	transition: .5s;
}


.text_block:hover {
	opacity: 1;
}


.text {
	font-family: sans-serif;
	font-weight: bold;
	color: white;
	font-size: 30px;
}


.info {
	position: absolute;
	right: 0;
	top: 0;
	width: 35px;
	height: 35px;
	background: white url(https://api.icons8.com/download/248a8f301e762167f46a8d4f0c96baffd4054161/windows10/PNG/512/Very_Basic/info-512.png) no-repeat;
	background-size: 100%;
	transition: .5s;
}


.info:hover {
	background-color: #ededed;
}


/* PopOp */

.popUp_window {
	font-family: "Monserrat", sans-serif;
	position: fixed;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.5);
	z-index: 10000;
	display: flex;
	justify-content: center;
	align-items: center;
}

.popUp_container {
	max-width: 500px;
	text-align: justify;
	border-radius: 10px;
	padding: 25px;
	padding-bottom: 50px;
	color: #fff;
	background: black;
	position: relative;
}

.popUp_hide {
	width: 100%;
	padding: 15px;
	position: absolute;
	bottom: 0;
	left: 0;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	color: #fff;	
}


/* Social */

.social-icon {
	display: none;
}

.icon-on-smart {
	display: none
}

@media (max-width: 1100px) {
	.row {
		width: 300px;
	}
}

@media (max-width: 1030px) {
	.social-icon {
		width: 100%;
		padding: 10px;
		background: #000;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		-moz-width: 100%;
		-moz-padding: 10px;
		-moz-background: #000;
		-moz-display: flex;
		-moz-flex-direction: row;
		-moz-justify-content: center;
		-moz-align-items: center;
	}

	.icon-on-smart {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		-moz-display: flex;
		-moz-flex-direction: row;
		-moz-justify-content: center;
		-moz-align-items: center;
	}
	.popUp_container {
		max-width: 80%;
		font-size: 40px;
	}

	.society {
		display: none;
	}

	.icon__icon_sand {
		visibility: hidden;
	} 
	
	.veteran {
		pointer-events: none;
	}

	.info {
		pointer-events: auto;
	}

	.icons {
		margin-bottom: 10px;
		margin-top: 10px;
		margin-left: 40px;
		margin-right: 40px;
	}

	.icon {
		width: 80px;
	}
	
	.wrapper_head {
		justify-content: space-around;
		position: relative;
	}

	.R {
		font-size: 100px;
		font-weight: bold;
	}

    .slide_and_text {
        flex-direction: column;
        margin-top: 100px;
    }
    
    .outher_text.LO {
    	font-size: 40px;
        padding: 15px;
        text-align: justify;
        width: 100%;
    }

    .outher_text {
    	width: 80%;
    }
    
    .outher_text.H {
    	font-size: 60px;
        text-align: center;
        width: 100%;
    }

	.wrapper {
		flex-direction: column;
		align-items: center;
	}

	.row {
		width: 90%;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

    .text {
    	font-size: 65px;
    }

    .info {
    	width: 100px;
    	height: 100px;
    }

    .slider {
    	display: none;
    }

    .popUp_window {
    	font-size: 35px;
    }

    .popUp_container {
    	padding-bottom: 100px;
    }

    .popUp_hide {
		padding: 30px 0;
    }
}
    
    
    
