{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'home/css/style.css' %}">
    <link rel="shortcut icon" href="{% static 'favicon.png' %}" type="image/x-icon">
    <meta charset="UTF-8">
    <title>Memory - Home</title>
</head>
<body>
	<div class="header"></div>
	<div class="main">
		<div class="main_text">memory</div>
		<div class="second_text">Этот сайт посвящен нашим родственникам, сражавшимся в Великой Отечественной Войне. Пока что мы собираем информацию о ветеранах Нерюнгринского района, но в будущем можно будет расширить количество городов, в которых живут наши герои</div>
        <a href="{% url 'post_list' %}" class="link">перейти на сайт</a>
	</div>
</body>
</html>
