{% extends 'registration/base.html' %}

{% load crispy_forms_tags %}

{% block title %}Memory - Log In{% endblock title %}

{% block description %}
<meta type="description" value="На нашем сайте вы сможете поделиться историями жизни своих близких, воевавших в Великой Отечественной Войне. Мы будем рады, если вы нам их расскажете">
{% endblock description %}

{% block content %}
    <h4 class="card-title">Вход в аккаунт</h4>

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-primary btn-block">Войти</button>
        <a class="btn btn-primary btn-block" href="{% url 'post_list' %}">Вернуться назад</a>
    </form>
{% endblock content %}
