{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <title>Add Post</title>
    </head>
    <body>
        {% if request.user.is_authenticated %}
            <div class="container">
                <div class="row justify-content-center mt-2">
                    <div class="col-7">
                        <h1 class="text-center">MEMORY</h1>
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Добавить пост</h4>

                                <form method="post" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    {{ form|crispy }}
                                    <button type="submit" class="btn btn-primary btn-block">Добавить пост</button>
                                    <a style="display: block; width: 100%; text-align: center; margin-top: 15px;" href="{% url 'blog:post_list' %}">Вернуться на сайт</a>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% else %}
            <h1>404 Error</h1>
        {% endif %}
    </body>
</html>
