body {
    margin: 0;
    overflow-x: hidden;
    box-sizing: content-box;
}

*, *::after, *::before, *:focus {
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
}

a {
    text-decoration: none 
}

.wrapper {
    -js-display: flex;
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}

/* Header */

header {
    -js-display: flex;
    width: 100%;
    background: black;
    padding: 30px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main_admin {
    position: fixed;
    z-index: 9999;
    right: 30px;
    bottom: 30px;
    display: flex;
    flex-direction: column;
    padding: 30px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.main_admin a {
    display: block;
    text-transform: uppercase;
    text-align: center;
    font-family: sans-serif;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    padding: 15px 25px;
    background: #333;
    border: 5px solid #333;
    border-radius: 10px;
    transition: .3s;
}

.main_admin a:hover {
    background: white;
    color: #333;
}

.admin_edit {
    margin-top: 10px;
}

.wrapper_head {
    -js-display: flex;
    justify-content: space-between;
    padding: 5px 15px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.nav {
    position: absolute;
    top: 0;
    right: 15px;
    width: auto;
    height: 100%;
}

.menu__btn {
    color: #fff;
    font-family: sans-serif;
    background: url('../icons/burger.png') no-repeat;
    background-size: 100%;
    border: 0;
    margin-top: 8px;
    font-size: .9rem;
    cursor: pointer;
    display: inline-block;
    width: auto;
}

.menu__list {
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat';
    text-align: left;
    margin-top: 15px;
    background-color: #f0f0f0;
    border: 1px solid rgba(255, 255, 255, 0);
    overflow: hidden;
    display: none
}

.menu__full > button {
    display: none;
}

.menu__full > .menu__list {
    display: flex;
    flex-direction: row;
    margin: 0;
    background-color: transparent;
    border: 0;
    align-items: center;
}

.menu__full * {
    color: #fff !important;
    vertical-align: middle
}

.menu__full *:after {
    display: none;
}

.menu__list > a {
    padding: 15px 20px;
    display: inline;
    white-space: nowrap;
    position: relative;
    color: #000;
    font-size: 20px;
}

.menu__list > a:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: rgba(209, 209, 209, .5)
}

.menu__list_show {
    display: flex !important;
    border-color: rgba(209, 209, 209, .5);
} 

.menu__btn_close {}

.menu__list > a:last-child:after {
    background-color: transparent;
}

.menu__list > a:first-letter {
    text-transform: capitalize
}

.menu {
    text-align: right;
    transition: all .2s linear;
    height: 100%;
}

.wrapp {
    width: 100%;
    height: inherit;
    max-width: 1100px;
}

.nav_and_logo {
    -js-display: flex;
    position: fixed;
    z-index: 1000;
    background: black;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.nav_and_logo button > img {
    width: 32px;
    height: 32px;
}

.navigation {
    -js-display: flex;
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}

.R {
    color: #fff;
    font-family: "Monserrat", sans-serif;
    text-transform: uppercase;
    font-size: 35px;
}

.slide_and_text {
    -js-display: flex;
    width: 100%;
    padding: 15px;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.outher_text {
    color: #fff;
    width: 400px;
    font-family: "Monserrat", sans-serif;
}

.outher_text.H {
    font-size: 30px;
}

.outher_text.LO {
    font-size: 15px;
}

.slider {
    -js-display: flex;
    width: 500px;
    height: 200px;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: row;
}

.picture {
    -js-display: flex;
    width: 2000px;
    display: flex;
    flex-direction: row;
    transition: .35s linear;
    position: absolute;
    left: 0px;
}
.a {
    width: 100%;
}
.icons {
    -js-display: flex;
    margin-left: 10px;
    margin-right: 10px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.oneI {
    margin-left: 0px;
}

.icon {
    width: 35px;
}

.oop {
    -js-display: flex;
    display: flex;
}

.pay-to-resp {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-family: "Monserrat", sans-serif;
    padding: 8px;
    transition: .35s ease;
}

.anim_block {
    -js-display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.but__pay-to-resp {
    position: relative;
}

.anim_elem__anim_block {
    -js-display: flex;
    width: 5%;
    height: 100%;
    background: #fff;
    transition: .35s ease;
    color: #000;
    font-size: 18px;
    font-family: "Monserrat", sans-serif;
    overflow: hidden;
    display: flex;
    visibility: hidden;
    justify-content: center;
    align-items: center;
}

.form-is-email {
    -js-display: flex;
    display: flex;
    justify-content: center;
    position: relative;
}

.text-in-form {
    margin-bottom: 15px
}

.anim-button-resp {
    width: 100%;
    visibility: visible;
    transition: .35s ease;
}

input {
    margin-top: 3px;
    margin-bottom: 3px;
    width: 100%;
    border-radius: 0px;
    background: #fff;
    border: 2px solid black;
    padding: 8px;
}

button {
    width: 100%;
    background: #fff;
    border: 2px solid black;
    padding: 8px;
    text-transform: uppercase;
    margin-top: 3px;
    margin-bottom: 3px;
}

/* Main block */

.main_block {
    -js-display: flex;
    margin-top: 100px;
    width: 100%;
    padding: 15px 0;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

.row {
    width: 350px;
    user-select: none;
}

.veteran {
    -js-display: flex;
    width: 28%;
    position: relative;
    margin: 15px 2%;
    overflow: hidden;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.veteran:hover .image {
    filter: blur(2px);
    transform: scale(1.1);
}

.veteran:hover .text_block {
    opacity: 1;
}

.image {
    width: 100%;
    transition: .5s;
}


.text_block {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: .5s;
}

.text {
    font-family: sans-serif;
    font-weight: bold;
    color: white;
    font-size: 30px;
    text-shadow: 1px 1px 1px #000;
}


.info {
   position: absolute;
    right: 0;
    top: 0;
    width: 35px;
    height: 35px;
    background: white url(https://api.icons8.com/download/248a8f301e762167f46a8d4f0c96baffd4054161/windows10/PNG/512/Very_Basic/info-512.png) no-repeat;
    background-size: 100%;
    transition: .5s;
}


.info:hover {
    background-color: #ededed;
}

/* PopOp */

.popUp_window {
    -js-display: none;
    font-family: "Monserrat", sans-serif;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    z-index: 10000;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.popUp_container {
    max-width: 50%;
    max-height: 75%;
    text-align: justify;
    border-radius: 10px;
    padding: 25px 10px 25px 10px;
    color: #fff;
    overflow: auto;
    background: black;
    position: relative;
    box-shadow: 0 0 50px rgba(0,0,0,0.6);
}

.popUp_container i {
    padding: 0 5px;
    display: block;
    margin-bottom: 40px;
}

.popUp_container h3 {
    padding: 0 5px;
    margin: 10px 0;
    font-size: 30px;
}

.popUp_container p {
    margin: 10px 5px;
    line-height: 25px;
    font-size: 18px;
}

.popUp_buttons {
    width: 100%;
    padding: 0 15px;
    margin-bottom: 15px;
    max-width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.popUp_buttons img {
    width: 40px;
}

.popUp_buttons a {
    padding: 0 15px;
}

.popUp_hide {
    display: block;
    width: 100%;
    padding: 20px 0;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;	
}

.popUp_hide img {
    width: 50px;
}
/* Social */

.social-icon {
    display: none;
}

.icon-on-smart {
    display: none
}

@media (min-width: 1030px) {
    .menu__full {
        display: flex;
        align-items: center;
    }

    .menu__btn {
        background: transparent;
    }
}

@media (max-width: 1100px) {
    .row {
        width: 300px;
    }
}

@media (max-width: 1030px) {
    .menu__full > button {
        display: inline;
    }

    .menu__full > .menu__list {
        display: flex;
        flex-direction: column !important;
        align-items: flex-start;
        font-family: 'Montserrat';
        text-align: left;
        margin-top: 15px;
        background-color: #f0f0f0;
        border: 1px solid #fff;
        overflow: hidden;
        display: none;
    }

    .menu__full a {
        color: black !important;
        width: 100%
    }

    .menu__full *:after {
        display: block;
    }

    .menu__list {
        align-self: flex-end;
        font-size: 2.9rem;
    }

    .menu__list > a {
        padding: 30px 40px;
        font-size: 60px;
    }

    .menu__btn {
        margin-top: 32px;
        font-size: 2rem;
        margin-right: 50px;
    }

    .menu__list {
        margin-top: 55px !important;
    }

    .popUp_container {
        max-height: 70%;
    }
    
    .popUp_container i {
        padding: 0 5px;
        display: block;
        margin-bottom: 40px;
    }

    .popUp_container h3 {
        font-size: 90px;
    }

    .popUp_container p {
        font-size: 60px;
        line-height: 80px;
    }

    .popUp_container i {
        margin-bottom: 100px;
    }

    .popUp_buttons {
        max-width: 80%;
    }

    .popUp_hide img {
        width: 150px;
    }

    .popUp_buttons img {
        width: 120px;
    }

    .popUp_buttons a {
        padding: 0 30px;
    }

    .nav_and_logo button > img {
        width: 70px;
        height: 70px;
    }

    .navigation {
        display: none;
    }
    
    .but__pay-to-resp {
        display: none;
    }

    .social-icon {
        -js-display: flex;
        width: 100%;
        padding: 10px;
        background: #000;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        -moz-width: 100%;
        -moz-padding: 10px;
        -moz-background: #000;
        -moz-display: flex;
        -moz-flex-direction: row;
        -moz-justify-content: center;
        -moz-align-items: center;
    }

    .veteran:hover .image {
         filter: blur(0px);
         transform: scale(1);
    }

    .icon-on-smart {
        -js-display: flex;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        -moz-display: flex;
        -moz-flex-direction: row;
        -moz-justify-content: center;
        -moz-align-items: center;
    }
    .popUp_container {
        max-width: 80%;
        font-size: 55px;
    }

    .society {
        display: none;
    }

    .icon__icon_sand {
        visibility: hidden;
    } 

    .veteran {
        pointer-events: none;
    }

    .info {
        pointer-events: auto;
    }

    .icons {
        margin-bottom: 10px;
        margin-top: 10px;
        margin-left: 40px;
        margin-right: 40px;
    }

    .icon {
        width: 80px;
    }

    .wrapper_head {
        justify-content: space-around;
        position: relative;
    }

    .R {
        font-size: 110px;
        font-weight: bold;
    }

    .main_block {
        margin-top: 180px;
    }

    .slide_and_text {
        flex-direction: column;
        margin-top: 100px;
    }

    .outher_text.LO {
        font-size: 40px;
        padding: 15px;
        text-align: justify;
        width: 100%;
    }

    .outher_text {
        width: 80%;
    }

    .outher_text.H {
        font-size: 60px;
        text-align: center;
        width: 100%;
    }

    .wrapper {
        flex-direction: column;
        align-items: center;
    }

    .row {
        -js-display: flex;
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .text {
;        font-size: 65px;
    }

    .info {
        width: 100px;
        height: 100px;
    }

    .slider {
        display: none;
    }

    .popUp_window {
        font-size: 35px;
    }

    .popUp_hide {
        padding-top: 10px;
        padding-bottom: 50px;
    }

    .popUp_hide svg {
        width: 140px;
        height: 140px;
    }
}


@media (max-width: 1024px) {
    .wrapper {
        flex-direction: column;
        margin-top: 50px;
    }

    .veteran {
        width: 80%;
    }

    .main_admin {
        display: none;
    }
}
