{% load static %}
<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="shortcut icon" href="{% static 'favicon.png' %}" type="image/x-icon">
        <title>Add Post</title>
    </head>
    <body>
        <div class="container mt-4 mb-4">
            <h1 class="mb-4 text-center"><a href="{% url 'post_list' %}">MEMORY</a></h1>
            <p>Ваш пост отправлен на модерацию. Благодарим Вас за то, что поделились с нами информацией о своих близких!!! :)</p>
            <a class="btn btn-primary" href="{% url 'post_list' %}">На главную</a>
        </div>
    </body>
</html>
