{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Мы собираем информацию о наших героях - тех, кто смог пройти поля сражений Великой Отечественной Войны, и тех, кого эта война навсегда забрала с собой">
    <script src="{% static 'blog/js/modernizr-custom.js' %}"></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'blog/css/main_style.css' %}">
    <link rel="shortcut icon" href="{% static 'favicon.png' %}" type="image/x-icon">
    <script src="{% static 'blog/js/jquery.min.js' %}" defer></script>
    <script src="{% static 'blog/js/flexbility.js' %}" defer></script>
    <script src="{% static 'blog/js/flexBoxPoll.js' %}" defer></script>
    <script src="{% static 'blog/js/popup.js' %}" defer></script>
    <script src="{% static 'blog/js/base.js' %}" defer></script>
    <title>Memory - Blog</title>
</head>
<body>
    <div id="popUps">
        {% for post in object_list %}
        <div class="popUp_window" id="popUp{{ post.id }}">
            {% if user.username == post.author.username and not post.is_confirm or user.is_staff %}
                <div class="popUp_buttons">
                    <a href="{% url 'post_change' post.id %}"><img src="{% static 'blog/icons/change.png' %}"></a>
                    <a href="{% url 'post_delete' post.id %}"><img src="{% static 'blog/icons/delete.png' %}"></a>
                </div>
            {% endif %}
    	    <div itemscope itemtype="https://schema.org/Person" class="popUp_container" id="popUp_container">
                {% if not post.is_confirm %}
                    <p style="text-align: center; margin-bottom: 15px"><b>ПОСТ НА МОДЕРАЦИИ</b></p>
                {% endif %}
		<h3><span itemprop="name">{{ post.name }}</span> ({{ post.date }})</h3>
                <i>Автор: {{ post.author.username }}</i>
                <p>{{ post.description|linebreaks }}</p>
   	    </div>
            <button class="popUp_hide" data-elem="#popUp{{ post.id }}"><img src="{% static 'blog/icons/close.png' %}"></button>

    	</div>
        {% endfor %}
    </div>


    <div class="nav_and_logo">
        <div class="wrapper_head">
            <a href="{% url 'home' %}" class="R">memory</a>
            <div class="nav">
                {% if user.is_authenticated %}
                    <div class="menu">
                        <button class="menu__btn">{{ user.username }}</button>
                        <div class="menu__list">
                            <a href="{% url 'add_post' %}">Добавить пост</a>
                            <a href="{% url 'account_change_password' %}">Изменить пароль</a>    
                            <a href="{% url 'account_logout' %}">Выйти</a>    
                        </div>
                    </div>
                {% else %}
                    <div class="menu menu__full">
                        <button class="menu__btn">{{ user.username }}</button>
                        <div class="menu__list">
                            <a href="{% url 'account_signup' %}">Зарегистрироваться</a>
                            <a href="{% url 'account_login' %}">Войти</a>
                        </div>
                    </div>
                {% endif %}
                </div>
            </div>
        </div>
    </div>

	<div class="main_block">  
        <div class="wrapper">
            {% for post in object_list %}
            <div class="veteran">
                <img src="{{ post.image.url }}" class="image">
                <div class="text_block">
                    <span class="text">{{ post.date }}</span>
                </div>
                <a href="#" class="info" data-elem="#popUp{{ post.id }}"></a>
            </div>
            {% endfor %}
        </div>
	</div>

</body>
</html>
