{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <script src="{% static 'blog/js/modernizr-custom.js' %}"></script>
	<link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'blog/css/main_style.css' %}">
    <script src="{% static 'blog/js/jquery.min.js' %}" defer></script>
    <script src="{% static 'blog/js/flexbility.js' %}" defer></script>
    <script src="{% static 'blog/js/flexBoxPoll.js' %}" defer></script>
    <script src="{% static 'blog/js/popup.js' %}" defer></script>
	<title>MEMORY</title>
</head>
<body>
    <div id="popUps">
        {% for post in object_list %}
        <div class="popUp_window" id="popUp{{ post.id }}">
            {% if user.username == post.author.username or user.username == 'admin'%}
                <div class="popUp_buttons">
                    <a href="{% url 'post_change' post.id %}"><img src="{% static 'blog/icons/change.png' %}"></a>
                    <a href="{% url 'post_delete' post.id %}"><img src="{% static 'blog/icons/delete.png' %}"></a>
                </div>
            {% endif %}
    	    <div class="popUp_container" id="popUp_container">
                <p>{{ post.description|linebreaks }}</p>
   	        </div>
            <a href="#" class="popUp_hide" data-elem="#popUp{{ post.id }}"><img src="{% static 'blog/icons/close.png' %}"></a>

    	</div>
        {% endfor %}
    </div>


    <div class="nav_and_logo">
        <div class="wrapper_head">
            <a href="{% url 'home' %}" class="R">memory</a>
        </div>
    </div>

    <div class="main_admin">
        {% if user.is_authenticated %}
            <a href="{% url 'add_post' %}" class="admin_add">добавить пост</a>
            <a href="{% url 'logout' %}" class="admin_edit">выйти</a>
        {% else %}
            <a href="{% url 'login' %}" class="admin_add">Вход</a>
            <a href="{% url 'signup' %}" class="admin_edit">Регистрация</a>
        {% endif %}
    </div>

	<div class="main_block">  
        <div class="wrapper">
            {% for post in object_list %}
            <div class="veteran">
                <img src="{{ post.image.url }}" class="image">
                <div class="text_block">
                    <span class="text">{{ post.date }}</span>
                </div>
                <a href="#" class="info" data-elem="#popUp{{ post.id }}"></a>
            </div>
            {% endfor %}
        </div>
	</div>

</body>
</html>
